# Exercise 2: Communicating a Data Analysis

## 1. Background

You’re a data analyst for Steppr - a company that sells smart watch trackers (i.e. watches that count the number of steps along with tracking other personal health information). You’re tasked trying to answer two questions:
1.	Is there a significant difference in steps between self-reported activity levels among participants?
2.	What is the correlation between sleep duration and user reported stress levels?

In [ ]:
import numpy as np 
import pandas as pd

To read the dataset into memory, run the cell below.

In [ ]:
watch_data = pd.read_csv("healthcare_watch_data.csv")
watch_data.head(20) ## display the first 20 rows of the table

There are a couple different ways we can easily start exploring the data. 
1. We can easily view the columns (variables) by calling the `.columns` function with the name of the data frame (i.e., `NAME.column`). 
2. We can see the number of columns and rows by using the `.shape` function with the name of the data frame (i.e., `NAME.shape`) where the output is (Rows, Columns).

Try these in the cells below.

In [ ]:
## find the column names 

# CODE HERE

In [ ]:
## find the number of rows and columns

# CODE HERE

In [ ]:
## You may also need want to view the table again to describe the data.
watch_data

## 2. Data Cleaning and Summary Statistics 

One of the things that you might want to communicate with your findings is the summary statistics for each variable in the dataset. This particular dataset has 7 columns: User ID, Heart Rate (BPM), Blood Oxygen Level (%), Step Count, Sleep Duration (hours), Activity Level, and Stress Level. 

Before we investigate the two questions, we want to take some time to clean and summarize the data.

### 2a. Heart Rate


Let's start with the Heart Rate column - let's figure out the range and distribution of values by calculating the **minimum**, **maximum**, **mean**, **median**, and **standard deviation**. 

Note that we can calculate these values by selecting the column of interest and using built in functions for these calculations. As an example you can calculate [maximum](https://pandas.pydata.org/docs/reference/api/pandas.Series.max.html#pandas.Series.max) (note the documentation has examples as well!) by doing:

`TABLENAME[COLUMN NAME].max()` or in the case of our example `watch_data["Heart Rate (BPM)"].max()`.

NOTE: Make sure the column names match exactly (spacing and punctuation is important!) and that the column names are in quotes `""`. 

Look at the other built-in functions listed in the [documentation](https://pandas.pydata.org/docs/reference/series.html#computations-descriptive-stats) and try figuring out the other functions you'll need.

In [ ]:
## Let's calculate the min, max, mean, median, and standard deviation of the heart rate column. 

## minimum heart rate
# CODE HERE
min_heart_rate = ...

## maximum heart rate
# CODE HERE
max_heart_rate = ...

## mean heart rate
# CODE HERE
mean_heart_rate = ...

## median heart rate
# CODE HERE
median_heart_rate = ...

## standard deviation of heart rate
# CODE HERE
std_heart_rate = ...

print(f"Minimum Heart Rate: {min_heart_rate}")
print(f"Maximum Heart Rate: {max_heart_rate}")
print(f"Mean Heart Rate: {mean_heart_rate}")
print(f"Median Heart Rate: {median_heart_rate}")
print(f"Standard Deviation of Heart Rate: {std_heart_rate}")

Now that we have some basic ideas about the distribution of values in the column, we can start thinking about whether these values seem reasonable. Let's make a copy of our table to make changes to so that we can preserve the original table. 

We can do this by using the code: 

`edited_table = original_table.copy(deep=True)`

All data cleaning will be done on this edited_table.

In [ ]:
## Make a copy of the table

edited_watch_data = watch_data.copy(deep=True)

Let's remove the values that are below or above the reasonable values you've determined. To remove values we can use conditionals to identify rows that fit a specific condition. `.loc` is a function built into dataframes that allows us to identify specific rows so we'll call that on our table. Let's look at some examples of this:

`DATA_TABLE.loc[(Conditional Statement), COLUMN_NAME] = np.nan`  - Generic Version

`edited_watch_data.loc[(edited_watch_data["Heart Rate (BPM)"] > 120), COLUMN_NAME] = np.nan` - Sets every Heart Rate higher than 120 BPM to nan (null) values. 

Hint: If you want to replace unreasonable values on either end of the spectrum, you can either have two lines of code or use `|` to combine conditional statements, i.e. `(CONDITIONAL 1) | (CONDITIONAL 2)`. 

Once you replace the unreasonable values with nan values, we're going to replace all the nan values with the mean we calculated above. We can do this using the `.fillna` function which allows us to replace nan values in a given column with whatever value you'd like. This can be done by: 

`DATA_TABLE.fillna({COLUMN_NAME: VALUE}, inplace=True)`

Try this below:

In [ ]:
## Remove unreasonable values and replace with nan values

# CODE HERE


## replace nan values with the mean heart rate
# CODE HERE


edited_watch_data

Great! Nowe can re-calculate the **minimum**, **maximum**, **mean**, **median**, and **standard deviation** for the Heart Rate column. Do you notice any differences?

In [ ]:
## recalculate the min, max, mean, median, and standard deviation of the heart rate column.

## minimum heart rate
# CODE HERE
min_heart_rate_edited = ...

## maximum heart rate
# CODE HERE
max_heart_rate_edited = ...

## mean heart rate
# CODE HERE
mean_heart_rate_edited = ...

## median heart rate
# CODE HERE
median_heart_rate_edited = ...

## standard deviation of heart rate
# CODE HERE
std_heart_rate_edited = ...

print(f"Minimum Heart Rate (Edited): {min_heart_rate_edited}")
print(f"Maximum Heart Rate (Edited): {max_heart_rate_edited}")
print(f"Mean Heart Rate (Edited): {mean_heart_rate_edited}")
print(f"Median Heart Rate (Edited): {median_heart_rate_edited}")
print(f"Standard Deviation of Heart Rate (Edited): {std_heart_rate_edited}")

### 2b. Blood Oxygen Levels 

Let's start by first calculating **minimum**, **maximum**, **mean**, **median**, and **standard deviation** for this column before any type of data cleaning. We can do this from the original table to ensure the table is completely preserved from any editing. 

Remember: We want to do this first calculation of summary statistics on the original table!

In [ ]:
# Calculate min, max, mean, median, and standard deviation for Blood Oxygen Levels column

## minimum blood oxygen level
# CODE HERE
min_blood_oxygen = ...

## maximum blood oxygen level
# CODE HERE
max_blood_oxygen = ...

## mean blood oxygen level
# CODE HERE
mean_blood_oxygen = ...

## median blood oxygen level
# CODE HERE
median_blood_oxygen = ...

## standard deviation of blood oxygen level
# CODE HERE
std_blood_oxygen = ...

print(f"Minimum Blood Oxygen Level: {min_blood_oxygen}")
print(f"Maximum Blood Oxygen Level: {max_blood_oxygen}")
print(f"Mean Blood Oxygen Level: {mean_blood_oxygen}")
print(f"Median Blood Oxygen Level: {median_blood_oxygen}")
print(f"Standard Deviation of Blood Oxygen Level: {std_blood_oxygen}")

We can find the number of null (nan) values that are currently in a column by using a combination of two functions: `.isna()` and `.sum()`.

Example:
`TABLE_DATA[COLUMN_NAME].isna().sum()`

In [ ]:
## Find the number nan values in the Blood Oxygen Levels column

## CODE HERE
num_nan_blood_oxygen = ...
print(f"Number of NaN values in Blood Oxygen Level column: {num_nan_blood_oxygen}")

Let's replace any unreasonable values with null values and then just leave the null values for this column (another potential solution to dealing with outliers and missingness is to just leave them missing!). Reminder you can do this by:

`DATA_TABLE.loc[(Conditional Statement), COLUMN_NAME] = np.nan`  - Generic Version

`edited_watch_data.loc[(edited_watch_data["Heart Rate (BPM)"] > 120), COLUMN_NAME] = np.nan` - Sets every Heart Rate higher than 120 BPM to nan (null) values. 


**REMEMBER**: Any edits to the table should be made to our copied table!

In [ ]:
## replace any unreasonable values with null values

## CODE HERE


edited_watch_data

Let's recalculate the **minimum**, **maximum**, **mean**, **median**, and **standard deviation** on our edited table for this column and paste them into our table of values.

In [ ]:
## recalculate the min, max, mean, median, and standard deviation of the blood oxygen level column.

## minimum blood oxygen level
# CODE HERE
min_blood_oxygen_edited = ...

## maximum blood oxygen level
# CODE HERE
max_blood_oxygen_edited = ...

## mean blood oxygen level
# CODE HERE
mean_blood_oxygen_edited = ...

## median blood oxygen level
# CODE HERE
median_blood_oxygen_edited = ...

## standard deviation of blood oxygen level
# CODE HERE
std_blood_oxygen_edited = ...

print(f"Minimum Blood Oxygen Level (Edited): {min_blood_oxygen_edited}")
print(f"Maximum Blood Oxygen Level (Edited): {max_blood_oxygen_edited}")
print(f"Mean Blood Oxygen Level (Edited): {mean_blood_oxygen_edited}")
print(f"Median Blood Oxygen Level (Edited): {median_blood_oxygen_edited}")
print(f"Standard Deviation of Blood Oxygen Level (Edited): {std_blood_oxygen_edited}")

### 2c. Step Count

Let's move onto the next column `Step Count` and calculate the summary statistics: **minimum**, **maximum**, **mean**, **median**, and **standard deviation**. 

Remember: We want to do this first calculation of summary statistics on the original table!

In [ ]:
# calculate min, max, mean, median, and standard deviation for Step Count column

## minimum step count
# CODE HERE


## maximum step count
# CODE HERE


## mean step count
# CODE HERE


## median step count
# CODE HERE


## standard deviation of step count
# CODE HERE


## print out values
# CODE HERE

For the previous two columns you were told how to deal with outliers or null values (replacement with mean for Heart Rate and leaving as missing for Blood Oxygen), but for this variable you get to decide how you'd like to deal with outliers and missing values. Use the cell below to clean this column in the edited table.

In [ ]:
## use this space to clean the Step Count column in the edited table.

## CODE HERE

Let's recalculate the summary statistics **minimum**, **maximum**, **mean**, **median**, and **standard deviation** on the edited table.

In [ ]:
# recalculate the min, max, mean, median, and standard deviation of the step count column.

## minimum step count
# CODE HERE


## maximum step count
# CODE HERE


## mean step count
# CODE HERE


## median step count
# CODE HERE


## standard deviation of step count
# CODE HERE


## Print out values
# CODE HERE

### 2d. Sleep Duration

First calculate your summary statistics: **minimum**, **maximum**, **mean**, **median**, and **standard deviation** for the sleep duration column. 

Remember: We want to do this first calculation of summary statistics on the original table!

In [ ]:
## calculate min, max, mean, median, and standard deviation for Sleep Duration column

## minimum sleep duration
# CODE HERE


## maximum sleep duration
# CODE HERE

## mean sleep duration
# CODE HERE


## median sleep duration
# CODE HERE


## standard deviation of sleep duration
# CODE HERE

## Print out values
# CODE HERE

Again, you get to decide how you'd like to deal with outliers and null values for this column.

In [ ]:
## Use this space to clean the Sleep Duration (hours) column in the edited table.

# CODE HERE

Just like in the previous steps let's recalculate the **minimum**, **maximum**, **mean**, **median**, and **standard deviation** for the cleaned Sleep Duration Column.

In [ ]:
## recalculate the min, max, mean, median, and standard deviation for the cleaned Sleep Duration Column.

## minimum sleep duration
# CODE HERE


## maximum sleep duration
# CODE HERE


## mean sleep duration
# CODE HERE


## median sleep duration
# CODE HERE


## standard deviation of sleep duration
# CODE HERE

## Print out values
# CODE HERE

### 2e. Activity Level 

Notice that the `Activity Level` column is not numerical data but instead text data where participants self-report their activity level. Let's see what values appear in this column first. We can do this by using the function `.unique()` which returns all the unique values from a given column. 

Example: 
`DATA_TABLE[COLUMN_NAME].unique()`

In [ ]:
## find unique values in Activity Level column

# CODE HERE

Let's go ahead and clean up this column. If you want to change the text in specific rows you can again use the `.loc()` function. 

Example:
`DATA_TABLE.loc[CONDITIONAL, COLUMN_NAME] = NEW_VALUE`

so if I wanted to switch all the instances of `Highly Active` to a new value of `Too Busy` I can do that by doing (not that I would recommend this as a good cleaning practices!)

`edited_watch_data[edited_watch_data['Activity Level'] == 'Highly Active', 'Activity Level'] = 'Too Busy'`

In [ ]:
## let's clean the Activity Level column. If you want to change the text in specific rows you can again use the .loc() function.

# CODE HERE

### 2f. Stress Level 

Let's start by going back to calculating our **minimum**, **maximum**, **mean**, **median**, and **standard deviation** for this column. 

Remember: We want to do this first calculation of summary statistics on the original table!

In [ ]:
## calculate min, max, mean, median, and standard deviation for Stress Level column

## minimum stress level
# CODE HERE


## maximum stress level
# CODE HERE


## mean stress level
# CODE HERE


## median stress level
# CODE HERE


## standard deviation of stress level
# CODE HERE

## Print out values
# CODE HERE

Notice that you get an `TypeError`! Let's see what's in this column.

In [ ]:
## find unique values in the Stress Level column

edited_watch_data["Stress Level"].unique()

It looks like our values in this column are text not numbers and we have an extra value `Very High` which we'll have to deal with. First let's calculate our statistics without the `Very High` value before we deal with it. The code is provided for you below, but notice that it's essentially what we've done above but with the added step of excluding rows with the extra text value and then converting the values to floats (numerical values). 

Example:
`DATA_TABLE[CONDITIONAL TO EXCLUDE TEXT][COLUMN_NAME].astype(float).min()`

In [ ]:
## calculate min, max, mean, median, and standard deviation for Stress Level column without the "Very High" value

## minimum stress level
min_stress_level_edited = watch_data[watch_data["Stress Level"] != "Very High"]["Stress Level"].astype(float).min()

## maximum stress level
max_stress_level_edited = watch_data[watch_data["Stress Level"] != "Very High"]["Stress Level"].astype(float).max()

## mean stress level
mean_stress_level_edited = watch_data[watch_data["Stress Level"] != "Very High"]["Stress Level"].astype(float).mean()

## median stress level
median_stress_level_edited = watch_data[watch_data["Stress Level"] != "Very High"]["Stress Level"].astype(float).median()

## standard deviation of stress level
std_stress_level_edited = watch_data[watch_data["Stress Level"] != "Very High"]["Stress Level"].astype(float).std()

print(f"Minimum Stress Level (Edited): {min_stress_level_edited}")
print(f"Maximum Stress Level (Edited): {max_stress_level_edited}")
print(f"Mean Stress Level (Edited): {mean_stress_level_edited}")
print(f"Median Stress Level (Edited): {median_stress_level_edited}")
print(f"Standard Deviation of Stress Level (Edited): {std_stress_level_edited}")

Now do you think you can impute a value for `Very High`? If so, let's go ahead and do that in the space below or if not, let's replace the `Very High` value with a nan value so that we can convert the column to numbers. Remember our example for replacing a value in the table:

Example:
`DATA_TABLE.loc[CONDITIONAL, COLUMN_NAME] = NEW_VALUE`

In [ ]:
## impute value for "Very High" stress level 

# CODE HERE


## this converts Stress Level to floats
edited_watch_data['Stress Level'] = edited_watch_data['Stress Level'].astype(float)

Let's recalculate the **minimum**, **maximum**, **mean**, **median**, and **standard deviation** if you decided to impute the `Very High` value.

In [ ]:
## recalculate the min, max, mean, median, and standard deviation for the cleaned stress column.

## minimum stress level
# CODE HERE
min_stress_level_final = ...

## maximum stress level
# CODE HERE
max_stress_level_final = ...

## mean stress level
# CODE HERE
mean_stress_level_final = ...

## median stress level
# CODE HERE
median_stress_level_final = ...

## standard deviation of stress level
# CODE HERE
std_stress_level_final = ...

## Print out values
print(f"Minimum Stress Level (Final): {min_stress_level_final}")
print(f"Maximum Stress Level (Final): {max_stress_level_final}")
print(f"Mean Stress Level (Final): {mean_stress_level_final}")
print(f"Median Stress Level (Final): {median_stress_level_final}")
print(f"Standard Deviation of Stress Level (Final): {std_stress_level_final}")

## 3. Data Analysis

Now that you’ve explored, cleaned, and summarized your data, it’s time to analyze it. The goal in this section is to test your research questions and interpret your findings clearly and thoughtfully.
We can return to our two questions: 
1.	Is there a significant difference in the number of steps taken across self-reported activity levels among participants? 
2.	What is the correlation between sleep duration and user reported stress levels?

### 3a. Does cleaning make a difference?

Let's compare the visual distribution of heart rate against blood oxygen level for both our original data and our cleaned data to see if there's any difference. We can visualize this data by creating a plot using the module `matplotlib.pyplot` which we will load with the alias `plt`. The documentation for the [matplotlib package](https://matplotlib.org/3.5.3/plot_types/index.html) is great, and we're going to focus on the [scatter function](https://matplotlib.org/3.5.3/api/_as_gen/matplotlib.axes.Axes.scatter.html#matplotlib.axes.Axes.scatter). An example:

`plt.scatter(X_ARRAY, Y_ARRAY)` where the `X_ARRAY` and `Y_ARRAY` are the columns from the table. 

You should also include x-axis labels, y-axis labels, and a title to the figure which you can do with: 
`plt.xlabel("TEXT")`
`plt.ylabel("TEXT")`
`plt.title("TEXT")`

In [ ]:
## scatter plot for the original data of Heart Rate vs. Blood Oxygen Level

import matplotlib.pyplot as plt

## CODE HERE

### 3b. Comparing Step Count Across Activity Levels

Let’s revisit the first research question: Is there a significant difference in the number of steps taken across self-reported activity levels among participants?

This time we're going to use a different package `seaborn` to visualize this data. First we load the `seaborn` module with the alias `sns`. Let's create either a histogram or a box plot for each of the activity levels to compare their distributions of step counts. 

You'll find that seaborn is slightly more intuitive than matplotlib. Seaborn's `.histplot` [function](https://seaborn.pydata.org/generated/seaborn.histplot.html) can be called with `sns.histplot(data=DATA_TABLE, x=X_VALUE, hue='GROUP_VALUE')`.

For the `.boxplot` [option](https://seaborn.pydata.org/generated/seaborn.boxplot.html) you can create this with `sns.boxplot(x='X_VALUE', y='Y_VALUE', data = DATA_TABLE)`. 

Again labels and titles can be done with `plt`.

In [ ]:
## create a histogram or box plot for each of the activity levels to compare their distributions of step counts.

import seaborn as sns

## CODE HERE

Code is provided below to calculate whether there is a signficant difference between the three groups. Note the p-value has to be below 0.05 for it to be significant.

In [ ]:
## calculate whether there is a significant difference in the number of steps taken across self-reported activity levels among participants.

from scipy.stats import f_oneway
sedentary_steps = edited_watch_data[edited_watch_data["Activity Level"] == "Sedentary"]["Step Count"].dropna()
active_steps = edited_watch_data[edited_watch_data["Activity Level"] == "Active"]["Step Count"].dropna()
very_active_steps = edited_watch_data[edited_watch_data["Activity Level"] == "Highly Active"]["Step Count"].dropna()

f_stat, p_value = f_oneway(sedentary_steps, active_steps, very_active_steps)
print(f"F-statistic: {f_stat}, P-value: {p_value}")

### 3c. Relationship Between Sleep Duration and Stress Level 

Your second research question asks: What is the correlation between sleep duration and user reported stress levels?
Again, let’s start with a visualization. Create a scatter plot with Sleep Duration on the x-axis and Stress Level on the y-axis.

You can either use  `plt` like you did above for the scatter plot or use `seaborn`'s `.scatterplot` function like:

`sns.scatterplot(data=DATA_TABLE, x = 'X_VALUE', y='Y_VALUE')`

In [ ]:
## visualize sleep duration vs stress level in a scatter plot

# CODE HERE

We can calculate whether there's a correlation between these two variables (but remember this doesn't necessarily indicate causation!) by using the function `.corr()` on our column of interest. 

Example:

`DATA_TABLE['COLUMN_1'].corr(DATA_TABLE['COLUMN_2'])`

In [ ]:
## calculate r value between sleep duration and stress level

r_value = ...  # CODE HERE

print(r_value)

## Congratulations! 

#### You've completed data cleaning on this dataset. Make sure you submit your final edited table, the word document, and any coding documents (this notebook) that you may have generated.